<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Groceries - @ViewBag.Title</title>

    @Styles.Render("~/Stylesheets/default")
    @Scripts.Render("~/Scripts/modenizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Angry Groceries</a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="nav navbar-nav">
                        <li>@Html.ActionLink("Home","Index","Home")</li>
                        <li>@Html.ActionLink("About","About","Home")</li>
                        <li>@Html.ActionLink("Contact","Contact","Home")</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-app="AngryGroceries">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/default")
    @RenderSection("scripts", required: false)
<script src="~/signalr/hubs"></script>
</body>
</html>
