@model AngryGroceries.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h1>Login</h1>
<p>Please provide your login details below.</p>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName,new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password,new { @class ="form-control" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Remember me
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
                @Html.ActionLink("Register", "Register","Account",new { @class="btn btn-link"})
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}